.login {
    max-width: 90%;
    width: 500px;
    position: absolute;
    top: 250px;
}

.myCustomClass md-input-container .md-errors-spacer {
    min-height: 0px !important;
}

.categorie h2 {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.grow img {
    height: 300px !important;
    width: 300px !important;
    -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
    -ms-transition: all 1s ease !important;
    transition: all 1s ease !important;
}

.grow img:hover {
    width: 310px !important;
    height: 310px !important;
}