<md-content layout="row" layout-nowrap>
	<ng-include src="'app/UI/sidenav.template.html'"></ng-include>
	<md-content layout="column" layout-wrap layout-fill layout-padding>
		<form ng-submit="creazione()" novalidate role="form" name="creaform">
			<div layout="column" layout-wrap layout-align="center start" flex-offset="40">
				<md-input-container>
					<label>Titolo</label>
					<input ng-model="nuovaRicetta.titolo">
				</md-input-container>
				<md-input-container>
					<md-select ng-model="nuovaRicetta.categoria" placeholder="Categoria" class="md-no-underline">
						<md-option value="Antipasto">Antipasto</md-option>
						<md-option value="Primo">Primo</md-option>
						<md-option value="Secondo">Secondo</md-option>
						<md-option value="Contorni">Contorni</md-option>
						<md-option value="Dolce">Dolce</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<md-select ng-model="nuovaRicetta.difficolta" placeholder="Difficoltà" class="md-no-underline">
						<md-option value="Facile">Facile</md-option>
						<md-option value="Medio">Medio</md-option>
						<md-option value="Difficile">Difficile</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label>Preparazione</label>
					<textarea ng-model="nuovaRicetta.preparazione" rows="5" md-maxlength="1000"></textarea>
				</md-input-container>
				<md-input-container>
					<label>Temperatura</label>
					<input type="number" min="0" max="1000" ng-model="nuovaRicetta.temperaturadicottura">
				</md-input-container>
				<md-input-container>
					<label>Tempodicottura</label>
					<input type="number" min="0" max="240" ng-model="nuovaRicetta.tempodicottura">
				</md-input-container>

				<md-chips ng-model="nuovaRicetta.ingredienti" name="ingredienti" md-removable="true" placeholder="Inserisci gli ingredienti">
					<md-chip-template>
						<strong>{{$chip}}</strong>
					</md-chip-template>
				</md-chips>
				<md-input-container>
					<label>Immagine</label>
					<input ng-model="immagine">
				</md-input-container>
				<md-button class="md-raised md-primary" type="submit">Crea</md-button>
			</div>
			<!--</form>-->
	</md-content>
</md-content>