<!--<ng-include src="'app/UI/nav.template.html'"></ng-include>-->
<md-content layout="row" layout-nowrap>
	<ng-include src="'app/UI/sidenav.template.html'"></ng-include>

	<md-content layout-fill>
		<div layout="row" layout-align="center center">
			<md-card>
				<md-card-header>
					<md-card-avatar>
						<img class="md-user-avatar" ng-src="{{ricetta.author.avatar}}">
					</md-card-avatar>
					<md-card-header-text>
						<span class="md-title">{{ricetta.author.username}}</span>
						<span class="md-subhead">Artoo Cucina</span>
					</md-card-header-text>
				</md-card-header>
				<img class="dettaglioimg" ng-src="{{ricetta.immagini[0]}}" class="md-card-image" alt="Washed Out">
				<div class="md-actions " layout="row " layout-align="space-between end">
					<div class="md-actions " layout="row " layout-align="start start">
						<md-button class="md-icon-button" ng-repeat="s in ricetta.stelle">
							<md-icon md-colors="{color: 'amber'}"><i class="material-icons ">star</i></md-icon>
						</md-button>
					</div>
					<md-button ng-class="colora(ricetta._id)" ng-click="addRicetta(ricetta._id,$event); " class="md-icon-button ">
						<md-icon><i class="material-icons ">favorite</i></md-icon>
					</md-button>
				</div>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{ricetta.titolo |uppercase}}</span>
						<span class="md-subhead">{{ricetta.categoria}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout="column" layout-align="space-between stretch">
					<div layout="row" layout-align="space-between">
						<div>
							<i class="material-icons">weekend</i>
							<div flex="5"></div><span>{{ricetta.difficolta}}</span>
						</div>
						<div>
							<i class="material-icons">timer</i>
							<div flex="5"></div><span>{{ricetta.tempodicottura}} min</span>
						</div>
						<div>
							<i class="material-icons">restaurant</i>
							<div flex="5"></div><span>{{ricetta.temperaturadicottura}}°</span>
						</div>
					</div>
					<md-chips>
						<md-chip ng-repeat="chip in ricetta.ingredienti">{{chip}}</md-chip>
					</md-chips>
					<h5>
						{{ricetta.preparazione}}
					</h5>

				</md-card-content>

				<div class="md-actions " layout="row " layout-align="space-between end">
					<div class="md-actions " layout="row " layout-align="start start">
						<md-button ng-click="vota($index,ricetta._id)" class="md-icon-button" ng-repeat="st in [1,2,3,4,5]">
							<md-icon><i class="material-icons ">star</i></md-icon>
						</md-button>
					</div>
					<md-button ng-click="commenta($event,ricetta._id)" class="md-raised md-primary">
						Commenta
					</md-button>
				</div>
			</md-card>




		</div>
		<div>
			<h1>Commenti:</h1>
			<h5 ng-repeat="commento in ricetta.commenti">{{commento.commento}}</h5>
		</div>
	</md-content>
</md-content>