<md-toolbar class="md-hue-2  myCustomClass" md-theme="docs-dark" layout-padding>
	<div class="md-toolbar-tools" layout="row" layout-align="start center" layout-padding>
		<md-button ng-click="toggle()" md-no-ink aria-label="Eat cake">
			<md-icon><i class="material-icons">menu</i></md-icon>
		</md-button>
		<span flex="5"></span>
		<md-input-container>
			<md-icon><i class="material-icons">search</i></md-icon>
			<input ng-model="cerca" type="text" placeholder="Cerca ingrediente">
		</md-input-container>
		<md-select ng-model="categoria" placeholder="Categoria" class="md-no-underline">
			<md-option value="dolce">Dolce</md-option>
			<md-option value="primo">Primo</md-option>
			<md-option value="secondo">Secondo</md-option>
			<md-option value="contorno">Contorno</md-option>
		</md-select>
		<div flex></div>
		<md-button ng-click="logout()" md-no-ink aria-label="user">
			logout
		</md-button>
		<md-button class="md-fab " md-no-ink aria-label="user">
			<md-icon><i class="material-icons">person</i></md-icon>
		</md-button>
	</div>
</md-toolbar>